.session-form
	= simple_form_for("user", :url => user_session_path) do |f|
		%ul.nav
			%li= f.input :email, label: "E-mail:", :required => false, :autofocus => true
			%li= f.input :password, label: "Senha:", :required => false
			%li= f.button :submit, "Entrar"