.row-fluid
	- if @all.length > 0
		.span8.offset2
			- @all.each do |file|
				.row-fluid
					.well.span8.offset2
						%p 
							= "#{file.title} - "
							= link_to "Mais detalhes", uploaded_file_path(file.uploaded_file)
							= " - "
							= link_to "Download", file.file_path
		.span2
			= form_tag uploaded_files_path, method: :get do
				= hidden_field_tag "search", params[:search]
				= select_tag "Filtros", options_for_select([ "Todos", "Palavra", "Texto com Voz", "Texto apenas" ], "Todos")
				= submit_tag "Filtrar"
	- else
		.span8.offset2
			%h2 Nenhuma ocorrência foi encontrada