.row-fluid
	.well.span12
		%h1 Selecione abaixo o tipo de arquivo que deseja fazer upload:

.row-fluid
	.span12#file-types
		.well.span4
			%h1 Palavra
			%p O arquivo de som deverá corresponder a exatamente uma palavra
			%p Utilidades:
			%ul
				%li Treinar sistemas de reconhecimento de voz
				%li Criar uma base de palavras para um sistema
			= link_to "Fazer Upload", new_audio_word_path, class: "btn btn-primary"
		.well.span4
			%h1 Texto com Voz
			%p São 2 arquivos. Um de texto e um de audio contendo o texto sendo lido.
			%p Utilidades:
			%ul
				%li Audiobooks
				%li Testar sistemas de reconhecimento de voz
			= link_to "Fazer Upload", new_text_with_voice_path, class: "btn btn-primary"
		.well.span4
			%h1 Texto apenas
			%p Neste caso você deve enviar apenas um arquivo de texto
			%p Utilidades:
			%ul
				%li Testar sistemas de reconhecimento de voz
				%li Testar sistemas de reprodução de voz
			= link_to "Fazer Upload", new_text_path, class: "btn btn-primary"
