.well
	- @me.owner_file.attributes.each do |k, v|
		- break if v.blank?
		.row-fluid
			.span6.offset3
				%p= "#{k} - #{v}"
	.row-fluid
		.span6.offset3
			%p 
				= "URL do arquivo - "
				= link_to @me.url, @me.url