.row-fluid
	.well.span8.offset2
		%h1 Cadastro de palavra:
		= simple_form_for @audio_word do |f|
			.span5.offset1
				%h3 Informações sobre a fala:
				= f.input :gender, label: "Gênero", collection: ["Masculino", "Feminino"], as: :radio_buttons, item_wrapper_class: 'inline'
				= hidden_field_tag :country_select_type, "audio_word"
				= render 'countries_states/country_select', f: f, type: :audio_word
				= f.input :language, label: "Idioma", collection: LANGUAGES
			.span5
				%h3 Informações Técnicas:
				= f.input :word, label: "Palavra:"
				= f.label :file_path, "Selecione um arquivo:"
				= f.filepicker_field :file_path, onchange: 'fileUploaded("format")', mimetypes: 'audio/*', class: "btn"
				= f.input :sampling_freq, label: "Frequência de amostragem:", placeholder: "opcional...", hint: "* Em Hertz"
				= hidden_field_tag :format
				= f.button :submit, "Cadastrar", class: "btn btn-primary"

= javascript_include_tag "filepicker_upload"