= f.input :country, label: "País:", collection: COUNTRIES_STATES.keys.map {|x| x.to_s}, prompt: "-- Selecione seu país", input_html: {class: "country_select"}
= f.label :state, "Estado:"
= render partial: 'countries_states/state_select', locals: { parent_region: f.object.country ||= "", type: type }

= javascript_include_tag "country_state_select"