.state_wrapper
	- parent_region ||= COUNTRIES_STATES[params[:parent_region].gsub("_", " ").to_sym]
	- type ||= params[:type].to_sym
	- selected = nil unless params[:type].nil?

	- if parent_region == ""
		%em Por favor selecione um país
	- elsif parent_region.length != 0
		- if selected.nil?
			= select type, :state, parent_region, prompt: "-- Selecione seu estado"
		- else
			= select type, :state, parent_region, selected: selected
	- else
		- if selected.nil?
			= text_field type, :state
		-else
			= text_field type, :state, selected