/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap.css.scss";

//----HEADER
#register {
	margin: 0px;
	margin-right: 90px;
}

#popover-register { 
	display: none;
}

.session-form {
	div {
		display: inline-block;
		margin-top: 8px;
		margin-bottom: 0px;
	}
	input, label {
		display: inline-block;
		margin-top: 8px;
	}
	input[type="email"], input[type="password"] {
		width: 150px;
	}
	label {
		color: $grayLight;
		margin-left: 15px;
		margin-right: 5px;
	}
	input[type="submit"] {
		margin-top: 18px;
		margin-left: 15px;
	}
}

.popover h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
}

.navbar-inner {
	p {
		color: $grayLight;
		margin-top: 40px;
	}
	form p {
		margin-left: 10px;
		input[type="search"] {
			margin-top: -5px;
			width: 100px;
		}
		input[type="submit"]{
			margin-top: -15px;
			margin-left: 10px;
		}
	}
	img {
		height: 50px;
		width: auto;
	}
	.brand {
		margin: 0px;
		padding: 0px;
		margin-top: 25px;
		p {
			display: inline-block;
			margin: 0px;
		}
	}
} 


#register-submit {
	margin-top: 0px;
	margin-bottom: 15px;
}

//----HOME
.hero-unit {
	text-align: center;
}


//----ALERTAS
.alert {
	margin: 10px;
	p {
		text-align: center;
		margin: 0px;
	}
}

//----TIPO DE UPLOAD
#file-types .well {
	height: 300px;
	position: relative;
	a {
		position: absolute;
		bottom: 0%;
		margin-bottom: 20px;
		right: 0%;
		margin-right: 20px;
	}
}

//----NEW AUDIO WORD
#new_audio_word {
	.hint {
		color: $red;
		margin: 5px;
	}
	button {
		margin-bottom: 10px;
	}
	input[type="submit"] {
		margin-top: 10px;
		margin-left: 130px;
	}
}

//----NEW TEXT WITH VOICE
#new_text_with_voice {
	button {
		margin-bottom: 10px;
	}
	input[type="submit"] {
		margin-top: 10px;
		margin-left: 130px;
	}
}

//----NEW TEXT
#new_text {
	button {
		margin-bottom: 10px;
	}
	input[type="submit"] {
		margin-top: 10px;
		margin-left: 130px;
	}
}