.row-fluid
	.well.span8.offset2
		%h1 Cadastro de texto:
		= simple_form_for @text do |f|
			.span5.offset1
				%h3 Informações sobre o conteúdo:
				= f.input :title, label: "Título:"
				= f.input :author, label: "Autor:"
				= f.input :category, label: "Categoria:", placeholder: "romance, aventura..."
				= f.input :language, label: "Idioma", collection: LANGUAGES
			.span5
				%h3 Arquivo:
				= f.label :file_path, "Selecione um arquivo de texto:"
				= f.filepicker_field :file_path, onchange: 'fileUploaded("text_format")', class: "btn"
				= hidden_field_tag :text_format
				%br
				= f.button :submit, "Cadastrar", class: "btn btn-primary"

= javascript_include_tag "filepicker_upload"