.navbar.navbar-fixed-top
	.navbar-inner
		.span12.offset1
			= link_to root_path, class: "brand" do
				= image_tag "logo.png"
				%p= "Vocal Base"
			%ul.nav
				%li= link_to "Upload", new_uploaded_file_path
				%li
					= form_tag uploaded_files_path, method: :get do
						%p
							= search_field_tag :search, params[:search], placeholder: "procurar..."
							= submit_tag "Procurar", name: nil, class: 'btn'
			.pull-right
				- if user_signed_in?
					%ul.nav
						%li
							%p= "Logged in as #{current_user.email}"
						%li= link_to "Sair", destroy_user_session_path, method: :delete
				- else
					.new_session
						= render 'users/sessions/new'
					= link_to_function "Não é cadastrado?", nil, id: "register", class: 'pull-right'
					#popover-register= render 'users/registrations/new'

:javascript
	$('#register').popover({
		title: "Cadastre-se",
		html: true,
		width: 300,
		content: function() {
			return $('#popover-register').html();
		},
		placement: 'bottom'
	});