!!! 5
%html
	%head
		%title VocalBase
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= filepicker_js_include_tag
	%body
		= render 'layouts/header'
		.row-fluid
			- flash.each do |k, v|
				- k = :success if k == :notice
				.span8.offset2.alert{:class => "alert-#{k.to_s}"}
					%button.close{:type => "button", :'data-dismiss' => "alert"} &times;
					%p= v
		= yield