= simple_form_for(User.new, :url => user_registration_path) do |f|
  / = f.error_notification
  = f.input :name, label: "Nome completo:", autofous: true
  = f.input :gender, label: "Gênero", collection: ["Masculino", "Feminino"], as: :radio_buttons
  = hidden_field_tag :type, "user", id: "country_select_type"
  = render 'countries_states/country_select', f: f, type: :user
  = f.input :email, label: "E-mail:"
  = f.input :password, label: "Senha:"
  = f.button :submit, "Registrar", class: "btn-primary pull-right", id: "register-submit"